
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chau Philomene One", sans-serif;
}

:root {
    --color-cinema: #1F537D;
    --color-texto: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-cinema);
    color: var(--color-texto);
    padding: 0px 50px;
    border-radius: 2px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: var(--color-texto);
    text-decoration: none;
}